<div class="container">
<h2><%=@city.name %></h2>

<h3>Tips</h3>

<% @tips.all.each_with_index do |tip, index| %>
<p><%=index+1%> - "<%=tip.content%>" / Category: <%=tip.category.capitalize%> / Tip Votes: <%=tip.votes%> / Submitted by : <%=tip.user.username.capitalize%> /</p>
<% end %>
</div>
