<h1>Welcome to Roam Scope</h1>

<h2>Current city: <%=@city.name %> - <a href="/cities">Choose other city</a> - <a href="/cities/new">Create new city</a></h2>

<h2>Tips:</h2>

<% @tips.all.each do |tip| %>
<h3><%=tip.id%> - "<%=tip.content%>" / Category: <%=tip.category.capitalize%> / Tip Votes: <%=tip.votes%> </h3>
<% end %>
