<div class="container">
<h2><%=@city.name %></h2>

<h3>Tips</h3>

<% @tips.all.each_with_index do |tip, index| %>
<p><%=index+1%> - "<%=tip.content%>" / Category: <%=tip.category.capitalize%> / Votes: <%=tip.votes%> <a href='/tips/<%=tip.id%>/vote'>+</a>  / Submitted by : <%=tip.user.username.capitalize%> / <% if session[:user_id] == tip.user.id.to_i %> <a href="/tips/<%=tip.id%>/edit">Edit Tip</a> <% end %></p>
<% end %>
</div>
