<div class="container">
<h2>City: <%=@city.name %></h2>

<h3>Tips</h3>

<% @tips.all.each do |tip| %>
<p><%=tip.id%> - "<%=tip.content%>" / Category: <%=tip.category.capitalize%> / Votes: <%=tip.votes%> / Submitted by : <%=tip.user.username.capitalize%> /</p>
<% end %>
</div>
