<h2>Enter the details for your new tip below</h2>
<form method="POST" action="/tips">

  <label>City:</label>

  <br></br>
  <% @cities.each do |city| %>
  <input type="radio" name="city" value="<%=city.id%>" id="<%=city.name%>"><%=city.name%></input>
  <% end %>
  <br></br>

  <label>Category:</label>

  <br></br>

  <% @categories.each do |category| %>
  <input type="radio" name="category" value="<%=category%>" id="<%=category%>"><%=category.capitalize%></input>
  <% end %>

  <br></br>

  <label>Content:</label>

  <br></br>

  <input type="text" name="content" id="content">

  <br></br>


<input type="submit" value="Submit new tip">
