<div class="container">
  <% if flash.has?(:message) %>
    <h3 style="color:#F00"><%= flash[:message] %></h3>
  <% end %>
<h2>Enter the details for your new tip below</h2>
<form method="POST" action="/tips">

  <h3>City:</h3>

  <% @cities.each do |city| %>
  <h4><input type="radio" name="city" value="<%=city.id%>" id="<%=city.name%>"> <%=city.name%> </input></h4>
  <% end %>

  <h3>Category:</h3>

  <% @categories.each do |category| %>
  <h4><input type="radio" name="category" value="<%=category%>" id="<%=category%>"> <%=category.capitalize%> </input></h4>
  <% end %>

  <h3>Content:</h3>

  <input type="text" name="content" id="content" width=100px>

  <br></br>


<input type="submit" value="Submit new tip">
</div>
